<?xml version="1.0"?>
<!--
/**
 * Copyright © Elgentos B.V.. All rights reserved.
 * https://www.elgentos.nl/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elgentos\StoreSwitcher\Api\Data\LabelRendererInterface"
                type="Elgentos\StoreSwitcher\Model\LabelRenderer"/>
</config>
